
@{
    ViewData["Title"] = "Registration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Registration</h1>

<form asp-controller="Home" asp-action="Registered">

    <div class="form-group">
        <label class="align-content-md-center">First Name</label>
        <input placeholder="Please enter your first name" class="form-control" type="text" name="FirstName" pattern="[A-Za-z]+" autocomplete="on" checked required />
    </div>

    <div class="form-group">
        <label class="align-content-md-center">Last Name</label>
        <input placeholder="Please enter your last name" class="form-control" type="text" name="LastName" pattern="[A-Za-z]+" autocomplete="on" checked required />
    </div>

    <div class="form-group">
        <!-- we use the name attribute to map this text input to our parameter in the back end controller-->
        <label class="align-content-md-center">Email</label>
        <input placeholder="Please enter your email" class="form-control" type="email" name="Email" 
               pattern="(?:[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*|"(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21\x23-\x5b\x5d-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])*")@(?:(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?|\[(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?|[a-z0-9-]*[a-z0-9]:(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21-\x5a\x53-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])+)\])" autocomplete="on" required />
        <!-- the class attribute is accessing code from the bootstrap library-->
    </div>

    <div class="form-group">
        <label class="align-content-md-center">Password</label>
        <input placeholder="Please enter a password" class="form-control" type="password" name="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" 
               title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required />
    </div>

    <div class="form-group">
        <label class="align-content-md-center">Phone number</label>
        <input placeholder="Please enter your phone number (Optional)" class="form-control" type="text" name="PhoneNumber" 
               pattern="^\d{3}\d{3}\d{4}$" autocomplete="on"/>
    </div>

    <div>
        <!-- we use input type "submit" to submit our form to the assigned controller/action-->
        <input type="submit" class="form-control btn btn-primary" />
    </div>

</form>